h1 {
  color: #364e96;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 2px #364e96;/*上線*/
  border-bottom: solid 2px #364e96;/*下線*/
  font-size: 12px; 
}
.title {
  text-align: center;
  font-size: 30px;
  font-weight: bold; 
}
div {
  line-height: 1.0;
  text-align: center;
}
p.error {
  color: #FF0000;
}
.input_item {
  background-color:#AAFFFF;
  width: 100px;
}
.input_item_value{
  background-color:#BBBBBB;
}
/* input[type='text'] {
  color: #aaaaaa;
  border: 1px solid #1b2538;
  border-radius: 4px;

} */
