body {
  font-family: "Yu Gothic Medium",YuGothic,sans-serif;
  /* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
  /* font-family: arial, sans-serif; */
  /* font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif; */
}
h1 {
  /* color: #364e96;文字色 */
  /* padding: 0.5px 0;上下の余白 */
  /* border-top: solid 2px #364e96;上線 */
  /* border-bottom: solid 2px #364e96;下線 */
  font-size: 18px;
  padding: 15px 15px;
  background-color:#364e96;
  color: #faf8f8;
}
.title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.0;
}
.work {
  line-height: 1.0;
  text-align: center;
}
.error {
  color: #FF0000;
}
.error_client {
  color: #FF0000;
}

.all_errormessage {
  background-color:#ebe9b2;
  margin-left:510px;
  border-radius: 10px;
}
/* AAFFFF */
.input_item {
  background-color:#364e96;
  color: #faf8f8;
  width: 100px;
  text-align: left;
}
.input_item_value{
  background-color:#c7d3e4;
}

.even_number_row {
  background-color:#c7d3e4;
}

.tbl_bold {
  border: 3px green solid;
  border-radius: 5px;
}
.tbl_bold_thtd{
  text-align: left;
  padding: 10px 0px;
}