.title{
  font-weight: 900; 
  font-size: 20px; 
}

.td {
  vertical-align: top;
}

table {
  border-collapse: collapse;
}
.tr_title{
  background-color: rgb(109, 146, 237);
}
.tr_review{
  background-color: #dedade;
}

.iineUser{
  padding: 0em 0.8em;
  display: block;
  font-size: 13px;
  cursor: pointer;
}

.tdReviwNiy,.tdReviwNiy_iine{
  vertical-align: top; 
}
.tag_td,.tag_td_iine{
  vertical-align: bottom; 
}
body{
  height: 100% ;
}
#fadeLayer {
  position:fixed;
  top:0px;
  left:0px;

  width:100%;
  height:100%;
  /* min-height:100%; */

  background-color:#000000;
  opacity:0.5;
  visibility:hidden;
  z-index:1;
} 

body > #fadeLayer {
  height: auto;
}
