/* ヘッダ str*/
.header {
  background: #777777;
	padding: 10px;
	margin: 0;
	overflow: hidden;
	height: 60px;
}
.header h1 {
	padding: 10px 30px;
	margin: 0;
	color: #FFF;
	font-size: 20px;
	line-height: 1.375;
	float: left;
}
/* .bookSite ヘッダー右側*/
.header .bookSite {
	padding: 35px 40px;
	margin: 0;
	font-size: 16px;
	line-height: 1.571;
	color: #FFF;
	float: right;
	font-size: 18px;
}
.header .bookSite a {
	color: #FFF;
}
.header .bookSite a:hover {
	color: #EEE;
}
/* ヘッダ end*/

.title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.0;
}
.work {
  line-height: 1.0;
}
.error {
  color: #FF0000;
}
.error_client {
  color: #FF0000;
}

.all_errormessage {
  background-color:#ebe9b2;
  margin-left:460px;
  border-radius: 10px;
}

#tyfk_userid{
  color: #FF0000;
  margin-left:460px;
}

/* AAFFFF */
.input_item {
  background-color:rgb(109, 146, 237);
  color: #faf8f8;
  width: 100px;
  text-align: left;
}
.input_item_value{
  background-color:#c7d3e4;
}

.even_number_row {
  background-color:#c7d3e4;
}

.tbl_bold {
  border: 3px green solid;
  border-radius: 5px;
}
.tbl_bold_thtd{
  text-align: left;
  padding: 10px 0px;
}
.passwordEyeOff {
  vertical-align: bottom;
  cursor: pointer;
}

.passwordEyeOn {
  vertical-align: bottom;
  cursor: pointer;
}
